body{
    font-family: 'Gelasio', serif;
    background-image:  url('../pictures/email-pattern.png');
}

.contentRow{
    margin-top:30px;

}

.contentCol{
    margin-top:20px;
    padding:30px;
    background-color: rgba(210,210,210,.8);
}
.numBox{
    margin-top:10px;
}

.myButton{
    width:90px;
    height:40px;
}

#headerRow{
margin-top:50px;
}

#passwordBox{
width:70%; 
height:50%;
}

#numChars{
    width:20%;
    margin-left:0px;
}